body {
    margin-top: 110px ;
    background-image: url("/lehigh-gorge.jpg");
    background-size: cover ;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    
    
}

.container {
    max-width: 300px;
    min-width: auto;
    background-color: lightgoldenrodyellow;
    border-radius: 5%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: red;
}

#save-btn {
    background: black;
}

